.footer {
    height: 50px;
    margin-top: auto;
    display: flex;
    flex-direction: column;
    margin-bottom: 0;
    &__navigation {
        display: flex;
        flex-direction: column;
        margin: 0;
        @include for-large-up {
            display: flex;
            flex-direction: row;
            width: $content-width;
            height: 338px;
            margin: 0 auto;
            padding-top: 44px;
        }
    }
    &-navigation {
        &__item {
            text-decoration: none;
            opacity: 0.6;
            font-size: 14px;
            margin-right: 22px;
        }
    }
    &-description {
        display: none;
        line-height: 26px;
        font-size: 18px;
        width: 360px;
        opacity: 0.6;
        margin-top: 26px;
        @include for-large-up {
            display: block;
        }
    }
    &__line {
        border-top: 1px solid $text-color;
        opacity: 0.1;
        width: 100%;
        margin-top: 40px;
    }
    &__links {
        margin-left: 15px;
        display: flex;
        flex-direction: column;
        @include for-large-up {
            width: $content-width;
            margin: 0 auto;
            display: flex;
            align-items: center;
            flex-direction: row;
            height: 50px;
        }
    }
    &-image {
        margin-right: 10px;
        @include for-large-up {
            margin-bottom: 60px;
        }
    }
    &-downloads {
        margin: 25px 30px 0 29px;
        display: flex;
        justify-content: center;
        @include for-large-up {
            margin: 0;
            margin-top: 25px;
            justify-content: left;
        }
    }
}

.additional-navigation {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    @include for-large-up {
        flex-direction: row;
        margin-top: 60px;
        margin-left: auto;
    }
    &__column {
        margin-top: 30px;
        @include for-large-up {
            margin-right: 29px;
            margin-top: 0;
        }
    }
}

@include for-large-up {
    .about-company {
        margin-top: 48px;
    }
}

.nav-links {
    width: 265px;
    &__title {
        font-size: 22px;
        font-weight: bold;
        line-height: 28px;
        color: $text-color;
        margin: 0;
    }
    &__list {
        margin: 0;
        padding: 0;
        margin-top: 18px;
        list-style: none;
        font-size: 18px;
        line-height: 30px;
        color: $text-color-light-grey;
    }
}

.terms {
    line-height: 22px;
    margin-top: 30px;
    font-size: 14px;
    @include for-large-up {
        margin: 13px auto 15px 0;
    }
}

.social-links {
    margin-top: 31px;
    margin-bottom: 23px;
    @include for-large-up {
        margin: 16px 0 16px auto;
    }
    &__item {
        margin-left: 20px;
    }
    &_:first-child {
        margin-left: 0;
    }
}

.logo-vertical {
    display: flex;
    flex-direction: column;
    align-items: center;
    @include for-large-up {
        display: none;
    }
    &__image {
        margin-top: 40px;
        width: 60px;
        height: 60px;
    }
    &__title {
        font-weight: bold;
        font-size: 20px;
        line-height: 25px;
        text-align: center;
        color: $text-color;
        margin-top: 20px;
    }
    &__description {
        font-size: 18px;
        line-height: 25px;
        text-align: center;
        color: $text-color-light-grey;
    }
}

@include for-large-down {
    .footer .logo {
        display: none;
    }
}