@import "breakpoints.scss";
@import "common.scss";
@import "header.scss";
@import "headline.scss";
@import "about.scss";
@import "customers.scss";
@import "features-desktop.scss";
@import "features-mobile.scss";
@import "footer.scss";

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  font-family: "Work Sans", sans-serif;
  color: #2b292d;
}

.page {
  width: 100%;
  height: 100vh;
}

@include for-large-up {
  .page {
    height: 100vh;
    width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}
