$page-width: 1400px;
$content-width: 1140px;
$text-color: #2b292d;
$header-color: #f3c6bd;
$button-background-color: #3040c4;
$hover-color: #3141c5;
$text-color-green: #009b4d;
$text-color-light-grey: #2b292d99;